<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BladeVPN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./images/logo_blue.ico" rel="bookmark" type="image/x-icon" />
    <link href="./images/logo_blue.ico" rel="icon" type="image/x-icon" />
    <link href="./images/logo_blue.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./css/bladevpn_cn.css">
</head>
<body>
        <!--header start-->
    <div class="header">
        <div class="title">
            <p>BladeVPN 给你想要速度</p>
        </div>
        <p class="choose">选择你需要的套餐</p>
    </div>
    <!--header end-->

    <!--order start-->
    <div class="container">
        <div class="products">
            <div class="product-item">
                <img src="../images/shopping_cart.png" alt="" class="selected-icon">
                <div class="product-top">
                    <div class="name">
                        <span class="time">1个月/</span>
                        <span class="unlimited">不限流量</span>
                    </div>
                </div>
                <div class="money"><span class="money-number"><span class="symbol">¥</span>12</span></div>
                <p class="remark-money">每天0.4元</p>
            </div>
            <div class="product-item">
                <img src="../images/shopping_cart.png" alt="" class="selected-icon">
                <div class="product-top">
                    <div class="name">
                        <span class="time">3个月/</span>
                        <span class="unlimited">不限流量</span>
                    </div>
                </div>
                <div class="money"><span class="money-number"><span class="symbol">¥</span>36</span></div>
                <p class="remark-money">每天0.4元</p>
            </div>
            <div class="product-item">
                <img src="../images/shopping_cart.png" alt="" class="selected-icon">
                <div class="product-top">
                    <div class="name">
                        <span class="time">6个月/</span>
                        <span class="unlimited">不限流量</span>
                    </div>
                </div>
                <div class="money"><span class="money-number"><span class="symbol">¥</span>72</span></div>
                <p class="remark-money">每天0.4元</p>
            </div>
            <div class="product-item last-item">
                <img src="../images/shopping_cart.png" alt="" class="selected-icon">
                <div class="product-top">
                    <div class="name">
                        <span class="time">12个月/</span>
                        <span class="unlimited">不限流量</span>
                    </div>
                </div>
                <div class="money"><span class="money-number"><span class="symbol">¥</span>120</span></div>
                <p class="remark-money">每天0.4元</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--order end-->

    <!--keyword start-->
    <div class="keyword">
        <div class="keyword-item">不限流量</div>
        <div class="keyword-item">没有广告</div>
        <div class="keyword-item">全平台通用</div>
        <div class="keyword-item last-item">7/24小时客服</div>
    </div>
    <!--keyword end-->

    <script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>
    <script>
        var winWidth = document.body.clientWidth;
        console.log('winWidth: ' + winWidth);
    </script>
</body>
</html>